<div class="todo-container "><h2>Todo List ({{ todoCounter() }} tasks)</h2>       <input [(ngModel)]="newTodoTitle"
                                                                                         placeholder="Add a new task"/>
  <button (click)="addTodo()">Add</button>
  <br>
  <button (click)="showCompleted.set(!showCompleted()) ">{{showCompleted()?'Показать все':'Показать заверщенные'}}</button>
  <ul class="todo-list">
    @for (todo of filteredTodos(); track todo.id) {
      <li [style.background-color]="todo.completed ? 'lightgreen' : 'lightcoral'"> {{ todo.title }}
        <input type="checkbox" [checked]="todo.completed" (click)="changeStance(todo.id)">
        <button (click)="deleteTodo(todo.id)">Delete</button>
      </li>
    }


  </ul>
</div>

<div>
  @if (error()) {
    {{error()}}
  }
</div>
<hr>
<div>

  <input type="text" [(ngModel)]="filtered" (input)="updateSearch()" placeholder="Enter query">
  <br>

  <select [(ngModel)]="sortBy" (change)="setSortBy()">
    <option value="title">Title</option>

    <option value="completed">Completed</option>
  </select>
  <br>
  <ul>
    @for (todo of todoFiltered(); track todo.id){
      <li>  {{ todo.title }} - {{ todo.completed ? 'Done' : 'Pending' }}</li>
    }
  </ul>

</div>
