<div class="todo-container">
  <input type="text" [(ngModel)]="todoText">
  @if (!startChanging){
    <input type="button" (click)="addTodo()" value="AddTodo">

  } @else {
    <input #todo type="button" (click)="changeTodoTitle(todoText)" value="SaveTitle">

  }
  @for (todo of items; track todo.id; let index = $index) {
    <p [style.background-color]="todo.completed ? 'lightgreen' : 'lightcoral'"><i>{{ index }} - <span
      (dblclick)="startTodoTitleChanging( todo.id,todo.title)">{{ todo.title }}</span>
      - Выполнено : {{ todo.completed }} <input [checked]="todo.completed" (click)="updateTodo(todo.id)"
                                                type="checkbox"> </i>
      <input style="margin-left: 10px" type="button" value="Delete"
             (click)="deleteTodo(todo.id)"></p>
  }


</div>
